global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
        ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
	log	global
	option	dontlognull
        timeout connect 500000
        timeout client  500000
        timeout server  500000
listen	astx0
	bind	*:55820
	mode	tcp
	server	astx_server	127.0.0.1:55920
listen	astx1
	bind	*:55821
	mode	tcp
	server	astx_server	127.0.0.1:55921
listen	astx2
	bind	*:55822
	mode	tcp
	server	astx_server	127.0.0.1:55922
listen	astx3
	bind	*:55823
	mode	tcp
	server	astx_server	127.0.0.1:55923
listen	veraport
	bind	*:16106
	mode	tcp
	server	veraport_server	127.0.0.1:16105
listen	crosswebex
	bind	*:4443
	mode	tcp
	server	crosswebex_server	127.0.0.1:4442

